@tailwind base;
@tailwind components;
@tailwind utilities;

.root,
#root,
#docs-root {
  --light-blue: #E4EEF7;
  --dark-blue: #474A5F;
  --light-purple: #C0B9DB;
  --light-pink: #FF8A7A;
}

body {
  font-family: 'Archivo', sans-serif;
  box-sizing: border-box;
}

p {
  color: #474A5F;
}